[user]
	name = izumisan
	email = izumi.mite@gmail.com
[core]
	autocrlf = input
	safecrlf = true
	quotepath = false
	editor = 'C:/Program Files (x86)/sakura/sakura.exe' -CODE=4
	attributesfile = ~/.gitattributes
[merge]
	ff = false
[pull]
	ff = only
[push]
	default = simple
[fetch]
	prune = true
